java.util.logging.SimpleFormatter.format=[%1$tc] [%3$s] %4$s: %5$s %6$s%n

java.util.logging.ConsoleHandler.level=ALL
java.util.logging.ConsoleHandler.formatter=java.util.logging.SimpleFormatter

java.util.logging.FileHandler.level=ALL
java.util.logging.FileHandler.pattern=%h/.ant_tracks/%g.log
java.util.logging.FileHandler.limit=50000000
java.util.logging.FileHandler.count=10
java.util.logging.FileHandler.formatter=java.util.logging.SimpleFormatter

.handlers=java.util.logging.ConsoleHandler
#,java.util.logging.FileHandler
.level=FINE
java.level=WARNING
javax.level=WARNING
sun.level=WARNING